.numbers-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 20px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(2, 60px);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #083ec2;
  padding: 6px;
}

.number {
  padding: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number.init {
  background-color: #8ea1d0;
  cursor: pointer;
}

.number.good {
  background-color: #00a142;
}

.number.bad {
  background-color: #8e1242;
}
